/* Created by: MariaG
 * Modified by: Santiago Hewett
 * Created on: March 2023
 * This CSS file defines the style for index.php
 * ICS2O-Unit2-05-PHP-Salary
*/

form {
  background-color: #77d5fd;
  padding: 20px;
  width: 80%;
  margin-left: 10%;
}

h1 { 
  background-color: #c9c2ff;
  text-align: center;
  padding: 20px;
  width: 80%;
  margin-left: 10%;
}

h3 {
  background-color: #6ee2c0;
  text-align: center;
  padding: 20px;
  width: 80%;
  margin-left: 10%;
}

p {
  width: 80%;
  margin-left: 10%;
}

iframe {
  margin-bottom: 5%;
  background-color: #f2a6c1;
	padding: 20px;
  width: 80%;
  margin-left: 10%;
	margin-top: 15px;
}

#yellow {
  background-color: #f9ae67;
  padding: 20px;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 30px;
}